<div class="flex items-center h-screen justify-center flex-col bg-RegiRod"> 

    <div class="flex items-center justify-center flex-col bg-RegiWhite p-24 rounded-full">
        <img src={Routes.static_path(@socket, "/images/felix_surprise.svg")} alt="" class="w-40 -translate-x-3">
        <p class="font-bold text-6xl pt-3"> Wupsi! </p>
        <p class="font-bold text-2xl"> Her ser det ut som noe gikk galt </p>
        <p class="font-bold text-xl"> Feilmelding: <%= @feilmelding%> </p>
    </div>
</div>