<div class="flex items-center h-screen justify-center flex-col"> 
    <p class=""> Scan kortet ditt for å starte </p>

    <form phx-submit="sjekk_kortnummer">
        <input autofocus type="text" name="kortnummer" id="" class="col-span-3 regnefelt text-center" phx-debounce="200">
    </form>
</div>