<div class="flex items-center h-screen justify-center flex-col"> 

    <img src={Routes.static_path(@socket, "/images/felix.svg")} alt="" class="w-40 -translate-x-3">
    <form phx-submit="sjekk_kortnummer">
        <input autofocus type="text" name="kortnummer" id="" class="col-span-3 regnefelt text-center">
    </form>
    <p class="font-bold text-2xl py-3"> Scan kortet ditt for å starte </p>
</div>